* {
    background-color:grey;
    animation-name:grey;
    animation-iteration-count:infinite;
    animation-duration:10s;
    animation-timing-function:ease-in;
    font-size:30px;
    margin:15px;
    padding:10px;
    color:#92F308;
}
#death {
    color:black;
}
.alarm {
    color:red;
}
.no-job {
    color:yellow;
}
h2 {
    color: orange;
    font-size:40px;
    animation-name:h2;
    animation-iteration-count:infinite;
    animation-duration:4s;
}
#readme {
    background-color:darkgreen;
}
#cyan {
    color:cyan;
}
#link{
    color:#191970;
}

@keyframes h2{
    0% {color:orange;}
    50% {color:yellow;}
    100% {color:orange;}
}

#center-link {
    text-align: center;

    color:#191970;

}
#red{
    color:red;
}
@keyframes grey {
    0%{background-color:lightgrey;}
    33%{background-color:grey;}
    66%{background-color:darkgrey;}
    100%{background-color:lightgrey;}
}
